/* Rules for headers */
h1 {
  color: #2B4162;
  text-align: center;
}
h2 {
  color: #385f71;
  text-align: center;
}

img {
  border-radius: 50%;
  display: inline-block;
  align-content: center;
}

/* rules for a sidebar that I used for an about me section next to my profile image */
.sidebar {
  width: 30%;
  float: right;
  border: black;
  border-width: 2px;
  background-color: aliceblue;
  margin-bottom: auto;
  box-sizing: border-box;
}

/* basic formatting for the body */
body {
  font-family: sans-serif;
  background-color: #f5f0f6;
}

/* formatting for projects section */
.projects {
  font-family: fantasy;
}

.projects p a {
  font-weight: bold;
  color: #8f754f;
}

/* formatting for the education and skills section */

.background1 p {
  font-style: italic;
} 
.background1 ul {
  color:gray
}
.background1 {
  background-color: #D7B377;
}

.jobhistory p {
  font-family: monospace;
}
.jobhistory ul {
  color: #F5F0F6;
  font-family: Verdana, sans-serif;
}
.jobhistory {
  background-color: #385F71;
}

.thewhy {
  background-color: #2B4162;
  font-family: monospace;
  color: #F5F0F6;
}
.thewhy ol {
  color: #8f754f;
  font-family: Calibri, sans-serif;
}
.thewhy p {
  font-family: sans-serif;
}