/* Rules for headers */
h1 {
  color: #2B4162;
  text-align: center;
}
h2 {
  color: #385f71;
  text-align: center;
}

/* basic formatting for the body */
body {
  font-family: sans-serif;
  background-color: #031926;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* rules for a box that I used for an about me section next to my profile image */
.box {
  width: 100%;
  margin-bottom: auto;
  box-sizing: border-box;
  align-self: center;
  color: white;
}
.box img {
  border-radius: 20px;
  height: 10%;
  width: auto;
  float: left;
}

/* formatting for projects section */
.projects {
  background-color: #468189;
  color: #F5F0F6;
}
.projects a {
  font-weight: bold;
  color: #77ACA2;
}

/* formatting for the education and skills section */

.background1 p {
  font-style: italic;
} 
.background1 ul {
  color: whitesmoke;
}
.background1 {
  background-color: #468189;
}

.jobhistory {
  color: #F5F0F6;
}
.jobhistory ul {
  font-weight: 500;
}
.jobhistory p {
  font-style: italic;
}
.jobhistory h2 {
  color: #F5F0F6;
}
.jobhistory {
  background-color: #468189;
}

.thewhy {
  background-color: #468189;
  font-family: monospace;
  color: #F5F0F6;
}
.thewhy h2 {
  color: #F5F0F6;
}
.thewhy ol {
  font-family: Calibri, sans-serif;
}
.thewhy p {
  font-family: sans-serif;
}